<div class="row justify-content-md-center mt-5 mb-5">
    {{ form_start(form, {'attr': {'class': 'col-6 border border-info rounded p-3 text-center'}}) }}
    <p class="h4">{{ title }}</p>
    <div class="form-group">
        <label for="todo_name">Titre</label>
        {{ form_widget(form.name, {'attr': {'class': 'form-control border-info'}}) }}
    </div>
    <div class="form-group">
        <label for="todo_description">Description</label>
        {{ form_widget(form.description, {'attr': {'class': 'form-control border-info'}}) }}
    </div>
    <div class="form-group">
        <label>Date de début</label>
        {{ form_widget(form.startdate, {'attr': {'class': 'form-control border-info'}}) }}
    </div>
    <div class="form-group">
        <label>DeadLine</label>
        {{ form_widget(form.deadline, {'attr': {'class': 'form-control border-info'}}) }}
    </div>
    <div class="form-group">
        <label for="todo_labels">Label(s)</label>
        {{ form_widget(form.labels, {'attr': {'class': 'form-control border-info'}}) }}
    </div>
    <div class="form-group">
        <label for="todo_usergroups">Equipe</label>
        {{ form_widget(form.usergroups, {'attr': {'class': 'form-control border-info'}}) }}
    </div>
    {% if edit == true %}
    <div class="form-group">
        <label for="todo_usergroups">Effectué ?</label>
        {{ form_widget(form.done, {'attr': {'class': 'form-control border-info'}}) }}
    </div>
    {% else %}
    <div class="form-group" style="display: none;">
        {{ form_widget(form.done, {'attr': {'class': 'form-control border-info'}}) }}
    </div>
    {% endif %}
    <button type="submit" class="btn btn-info">{{ button_label }}</button>
    {{ form_end(form) }}
</div>
