{% extends 'base.html.twig' %}

{% block title %}vos Labels{% endblock %}

{% block body %}
<style>
.newLabel {
    display: block;
    margin: auto;
    width: 12em;
}

.btnLabel {
  display: flex;
  margin: auto;
  width: max-content;
  border-top: none !important;
}

.editBtn {
  font-size: 2em;
  padding: 0 10px;
  color: steelblue;
}

.table td {
  vertical-align: middle;
}
</style>

<nav class="navbar navbar-expand-lg navbar-light bg-info">
  <a class="navbar-brand" href="{{ path('home') }}">Todo list</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{{ path('home') }}">Accueil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path('getStarted') }}">Comment ça marche ?</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path('aPropos') }}">A propos</a>
      </li>
      {% if app.user %}
      <li class="nav-item active">
        <a class="nav-link" href="{{ path('label_index') }}">Vos labels</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path('usergroup_index') }}">Vos groupes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path('todoDone') }}">Todos terminés</a>
      </li>
      {% endif %}
    </ul>
    <ul class="navbar-nav">
      {% if not app.user %}
      <li class="nav-item">
        <a class="nav-link" href="{{ path('security_user_login') }}">Se connecter</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path('security_user_register') }}">S'inscrire</a>
      </li>
      {% else %}
      <li class="nav-item">
        <p clas="">Bonjour {{ app.user.username }}</p>
        <a class="nav-link" href="{{ path('security_user_logout') }}">Se déconnecter</a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>

<div class="p-5">
    <h1 class="text-center">Vos Labels</h1>
    <table class="table text-center">
        <thead class="bg-info">
            <tr>
                <th>Nom</th>
                <th></th>
                <th>Edition</th>
            </tr>
        </thead>
        <tbody>
        {% for l in labels %}
            {% if l.users == app.user %}
            <tr style="background-color: {{ l.color }};">
                <td>{{ l.name }}</td>
                <td></td>
                <td class="btnLabel">
                    <a href="{{ path('label_edit', {'id': l.id}) }}"><p class="fa fa-pencil editBtn" ></p></a>
                    {{ include('label/_delete_form.html.twig') }}
                </td>
            </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
</div>

<a href="{{ path('label_new') }}"><button type="button" class="btn btn-info newLabel">Nouveau label</button></a>
{% endblock %}
